section {
    display: grid;
    gap: 16vh 12vw;
    margin-top: 10rem;
}




.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-radius: 30px;
    overflow: hidden;
    width: 30vw;
    height: 40vh;
    
}

.card:hover {
    box-shadow: 5px 8px 6px #AAF0D1;
    scale: 105%;
    z-index: auto;
}

.card > img {
    max-width: 100%;
    max-height: 80%;
}

.card > label {
    font-size: 8vh;
    color:black;
    background-color: #AAF0D1;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top: auto;
}


.project1 {
    grid-column-start: 1;
    grid-column-end: 1;
}

.project2 {
    grid-column-start: 2;
    grid-column-end: 2;
}

.project3 {
    grid-column-start: 1;
    grid-column-end: 1;
}